<!-- <div class="text-layout">
  <h1>{{nombre | titlecase }}</h1>
</div>



<button pButton 
        (click)="mostrarNombre()" 
        label = "cambiar nombre"
        icon="pi pi-check" iconPos="right"
        class="p-button-help"></button>


    <p-card [header]="nombre | titlecase">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, impedit magni? Distinctio porro ipsum necessitatibus explicabo, libero nisi? Aspernatur ipsum vel sunt dignissimos dolores veniam libero magnam maxime ullam quisquam?
    </p-card> -->

 <app-menu></app-menu>   

<router-outlet></router-outlet>
     
