/* You can add global styles to this file, and also import other style files */
.small-flag {
    width: 50px;
}

/* .margin-bandera {
    margin-top: 15px;
} */

.mr-1 {
    margin-right: 8px;
}

.mt-25 {
    margin-top: 25px;
}



