<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>
<!-- row me acomoda en fila, y wrap me pasa para abajo lo que ya no entre en el ancho.
Cuando el tamaño de la pantalla sea muy peque (xs), le digo que me lo acomode en columnas: fxLayout.xs="column".
Con fxLayoutAlign, lo alineo donde quiero.
Con fxLayoutGap, le doy una separación entre si-->
<div fxLayout="row wrap"
     fxLayout.xs = "column"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

     <!-- El fxFlex="%" me reduce al porcentaje que le indico. Puedo colocarle distintos valores segun la pantalla sea lg o sm-->
    <div fxFlex="20"
         fxFlex.lg="15"
         fxFlex.sm ="30"
         *ngFor="let heroe of heroes">

         <!-- HeroeTarjetaComponent -->
        <app-heroe-tarjeta [heroe] = "heroe"></app-heroe-tarjeta>

    </div>        
    
</div>

